$color-main: green;
$color-main-bg: white;
$font-main: 'Roboto', sans-serif;
$font-headings: 'Rubik', sans-serif;

$panel-title-font-size: 25pt;
$normal-text-font-size: 18pt;

$button-fontsize-large: 25pt;
$button-fontsize-medium: 20pt;
$button-fontsize-small: 15pt;

$heading-padding: 100px;
$heading-margin: 100px;

